body {
    background-color: #ADD8E6;
    font-family: Arial, sans-serif;
    margin-left: 10px;
}

h1 {
    text-align: center;
    font-size: 42px; 
    font-weight: bold;
}

h2 {
    font-size: 32px; 
    font-weight: bold;
}
h3 {
    font-size: 26px; 
    font-weight: bold;
}

#paragraph2 {
    width: 60%;            
    margin: 10px 10px 10px; 
    padding: 15px 15px 15px 40px;
    border: 5px solid green; 
    line-height: 2.0;
    background-color: white; 
}

.blue {
    background-color: #00008B;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
}

ol {
    list-style-type: decimal-leading-zero;
}

ol li a {
    color: DarkBlue; 
    text-decoration: underline;
    font-weight: bold;
}

p a {
    color: #8B0000;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 40%;
    margin-top: 10px;
    background-color: white; 
}

th {
    background-color: #C0C0C0;
    color: black;              
    border: 1px solid black;
    padding: 10px;
    text-align: center;      
}

td {
    background-color: #ffffff;
    border: 1px solid black;
    padding: 10px;
}
